@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<h2 asp-action="Date"></h2>
@Html.DisplayNameFor(model => model.Titulo)


<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



@code {
    
    private int currentCount = 0;
        
    private void IncrementCount()
    {
        currentCount++;
        
        string Date = DateTime.Now.ToString("dd-MM-yyyy");
        @* Console.WriteLine("The Current Date Without Time is {0}.", Date); *@
    }
@* 
    public static void Main()
    {
        string Date = DateTime.Now.ToString("dd-MM-yyyy");
        Console.WriteLine("The Current Date Without Time is {0}.", Date);
    } *@
}
